@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
		font-size: 12px;
	}
	.wizard > .steps .number {
		font-size: 12px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.banner-sec{
		padding-right: 15px;
	}
	.login-sec{
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.login-sec{
		background: none;
	}
	.carousel-inner{
		border-radius: 0;
	}
	.login-sec-bg{
		border-radius: 0;
		padding: 15px;
	}
	.login-sec h2 {
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 24px;
		color: #fff;
	}
	.login-sec h2:after {
		content: " ";
		height: 3px;
		background: #fff;
		display: block;
		margin-top: 20px;
		border-radius: 3px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 767px) {
	.banner-sec{
		padding-right: 15px;
	}
	.login-sec{
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.login-sec{
		background: none;
	}
	.login-sec h2 {
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 24px;
		color: #fff;
	}
	.login-sec h2:after {
		content: " ";
		height: 3px;
		background: #fff;
		display: block;
		margin-top: 20px;
		border-radius: 3px;
		margin-left: auto;
		margin-right: auto;
	}
	.carousel-inner{
		border-radius: 0;
	}
	.login-sec-bg{
		border-radius: 0;
		padding: 15px;
	}
	.address {
		margin-left: 10px;
	}
}
@media only screen and (min-width: 280px) and (max-width: 575px) {
	.banner-sec{
		padding-right: 15px;
	}
	.login-sec{
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.login-sec{
		background: none;
	}
	.carousel-inner{
		border-radius: 0;
	}
	.login-sec-bg{
		border-radius: 0;
		padding: 15px;
	}
	.address {
		word-break: break-all;
		margin-left: 10px;
	}
	#row_right_side {
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}