$base-color: #0037c1;
$blue-color: #22ac11;
$font-main: 'NexaRegular' , sans-serif;
$black-blue-color: #0b0c27;
$green-color: #0bffbf;
$black-color: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NexaRegular";
  src: url('./fonts/NexaRegular.ttf?raw=true');
}
@font-face {
  font-family: "Nexa-Bold";
  src: url("./fonts/Nexa-Bold.ttf");
  font-weight: bold;
}

p, label {
  font-size: 16px;
}
body {
  font-family: $font-main;
  color: $base-color;
  background: url('./images/velas-bg.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
#dropdown-fiat {
  margin-bottom: 20px;
  // width: auto;
  font-size: 12px;
  height: 38px;
}
.link_btn {
  float: right;
  padding: 2px;
  color: #0037c1;
}
.fee-info {
  text-align: right;
}
.css-1insrsq-control {
  border-radius: 0px !important;
}
.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}
.dropdown-item.active {
  background-color: #2684ff;
}
.disabled {
  position: absolute;
  display: inline-block;
  opacity: 0;
  & + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    line-height: 1rem;
    margin: 0 0 1.5rem 0;
    padding: 0 0 0 1rem;

    span {
      margin-left: 0.5rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      color: #ffffff;
      text-align: center;
      border-radius: 0;
      top: 1px;
      left: 0;
      width: 1rem;
      height: 1rem;
    }

    &::before {
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 1rem;
      border-radius: 0;
      background-color: #ffffff;
      color: #ffffff;
      box-shadow: inset 0 0 0 1px $base-color, inset 0 0 0 1rem #ffffff,
        inset 0 0 0 1rem $base-color;
    }
  }

  &:focus,
  &:hover,
  &:checked {
    & + label {
      color: $base-color !important;
    }

    // & + label::before {
    //   animation-duration: 0.3s;
    //   animation-name: selectCheckboxAnim;
    //   animation-iteration-count: 1;
    //   animation-direction: alternate;
    //   border: solid 1px $base-color;
    //   box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 0 #ffffff,
    //     inset 0 0 1px 2px $base-color;
    // }
  }

  &:checked {
    & + label::before {
      content: '';
      background-color: $base-color;
      color: #ffffff;
      border: solid 1px rgb(255, 255, 255);
      box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 0 #ffffff,
        inset 0 0 0 16px $base-color;
    }
  }

  & + label {
    &::before {
      border-radius: 50%;
    }
  }

  &[type=checkbox] {
    & + label {
      &::before {
        border-radius: 0;
      }
    }
  }
}

.custom-radio {
  position: absolute;
  display: inline-block;
  opacity: 0;

  & + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    line-height: 1rem;
    margin: 0 0 1.5rem 0;
    padding: 0 0 0 1rem;
    transition: all 0.5s ease-in-out;

    span {
      margin-left: 0.5rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      color: #ffffff;
      text-align: center;
      border-radius: 0;
      top: 1px;
      left: 0;
      width: 1rem;
      height: 1rem;
      transition: all 0.5s ease-in-out;
    }

    &::before {
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 1rem;
      border-radius: 0;
      background-color: #ffffff;
      color: #ffffff;
      box-shadow: inset 0 0 0 1px $base-color, inset 0 0 0 1rem #ffffff,
        inset 0 0 0 1rem $base-color;
    }

    &:hover,
    &:focus,
    &:active {
      color: $base-color;
      transition: all 0.3s ease;
      outline: none;

      &::before {
        color: #ffffff;
        animation-duration: 0.5s;
        animation-name: changeSizeAnim;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        box-shadow: inset 0 0 0 1px $base-color, inset 0 0 0 16px #ffffff,
          inset 0 0 0 16px $base-color;
      }
    }
  }

  &:focus,
  &:hover,
  &:checked {
    & + label {
      color: $base-color !important;
    }

    & + label::before {
      animation-duration: 0.3s;
      animation-name: selectCheckboxAnim;
      animation-iteration-count: 1;
      animation-direction: alternate;
      border: solid 1px $base-color;
      box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 0 #ffffff,
        inset 0 0 1px 2px $base-color;
    }
  }

  &:checked {
    & + label::before {
      content: '';
      background-color: $base-color;
      color: #ffffff;
      border: solid 1px $base-color;
      box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 0 #ffffff,
        inset 0 0 0 16px $base-color;
    }
  }

  & + label {
    &::before {
      border-radius: 50%;
    }
  }

  &[type=checkbox] {
    & + label {
      &::before {
        border-radius: 0;
      }
    }
  }

  // @keyframes changeSizeAnim {
  //   from {
  //     box-shadow: 0 0 0 0 $base-color,
  //       inset 0 0 0 1px $base-color,
  //       inset 0 0 0 16px #FFFFFF,
  //       inset 0 0 0 16px $base-color;
  //   }
  
  //   to {
  //     box-shadow: 0 0 0 1px $base-color,
  //       inset 0 0 0 1px $base-color,
  //       inset 0 0 0 16px #FFFFFF,
  //       inset 0 0 0 16px $base-color;
  //   }
  // }

  // @keyframes selectCheckboxAnim {
  //   0% {
  //     box-shadow: 0 0 0 0 $base-color,
  //       inset 0 0 0 2px #FFFFFF,
  //       inset 0 0 0 3px $base-color,
  //       inset 0 0 0 16px #FFFFFF,
  //       inset 0 0 0 16px $base-color;
  //   }

  //   100% {
  //     box-shadow: 0 0 20px 8px #eeddee,
  //       inset 0 0 0 0 white,
  //       inset 0 0 0 1px $base-color,
  //       inset 0 0 0 0 #FFFFFF,
  //       inset 0 0 0 16px $base-color;
  //   }
  // }
}
.partnerLogo {
  width: 20px;
  margin: 0 5px 0 10px;
}
.subtitle-label {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}
.label-provider {
  display: inline-grid;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  color: unset;
  background-color: unset;
  border-color: unset;
  color: #474d55;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: "url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e)";
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.title_notice {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}
.header_style {
  background-color: $base-color;
  h1 {
    margin: 0;
    color: #fff;
    line-height: 4.4;
  }
}
.form-label {
  color: $black-blue-color;
}
.row_address {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-txt, .error-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: inherit;
}
.input-group-text {
  display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #99999a;
    text-align: center;
    white-space: nowrap;
    background-color: transparent !important;
    border-radius: 0;
    border-left: none;
}
#inlineFormInputGroup {
  border-right: none !important;
}
#inlineFormInputGroup:focus {
  border-right: none !important;
  border: 1px solid #ced4da;
}
.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0;
  background: initial;
  background-color: $base-color;
  color: #fff;
  font-size: 1.0625em;
}
.gfg {
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  }
.row-txt {
  color: $black-blue-color;
  font-size: 14px;
}
.row-txt.payment_id, .row-txt.status {
  color: $black-blue-color;
  font-weight: bold;
  font-family: 'Nexa-Bold';
  font-size: 14px;
}
.row-txt.payment_id:last-child {
  cursor: pointer;
}
.row-txt.payment_id:hover {
  text-decoration: underline;
}
.copyIcon {
  width: 14px;
  margin-left: 6px;
}
.row_notice {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: $base-color;
}
.row_notice_sub {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: $base-color;
}
.container:before {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(./images/top.svg);
    height: 30px;
    top: -25px;
}
.container:after {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(./images/bottom.svg);
    height: 30px;
    bottom: -30px;
}
.container {
  background-color: #fff;
    padding: 0px;
    width: 575px;
    min-height: 550px;
    position: relative;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
}
div.checkbox {
  color: #000;
}
.container_info {
  margin-bottom: 1rem;
}
.left-side-p {
  color: #000
}
.form-control::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.btn {
  letter-spacing: 1px;
  border-radius: 0;
  color: #fff;
  background-color: #0038c9;
  border-color: #0038c9;
  width: inherit;
  font-family: $font-main;
  margin-bottom: 35px;
}
.css-1pahdxg-control, .css-1pahdxg-control:hover {
  border-radius: 0 !important;
  border: 1px solid #ced4da
}

#dropdown-basic {
  background: $base-color !important;
  border: none;

}
// .width-progress {
//   width: 575px;
// }
.form-group {
  font-size: 14px;
}
.steps {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  width: 100%;
  
  .step {
    flex: 0.33333;
    display: flex;
    background: #0038c936;
    height: 6px;


    a {
      color: $base-color;
    }

    div:first-of-type {
      border: 1px solid #ccc;

      // border: 1px solid #ccc;
      padding: 5px;
      // border-radius: 50%;
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 100%;
      padding-top: 7%;
    }

    :last-child {
      margin-top: 3%;
    }

    &.active {
      div:first-of-type {
        background-color: $base-color;
        border: 1px solid transparent;
        color: #fff;
        // transform: scale(1.4);
      }

      div:last-of-type {
        color: $base-color;
        // padding-left: 10px;
      }
    }
  }
}
.step.active {
  background-color: $green-color;
  transition: all 1s ease-out;
}
.css-1s2u09g-control, .form-control {
      border-radius: 0px !important;
}

.provider-style {
  background-color: #3d4045;
  width: 180px;
  height: 60px;
  border: none;
  margin-left: 10px;
}
.input-form {
  width: 100%;
  margin: 20px auto;
}
.form {
  width: 100%;
  margin: 20px auto;
}
.icon_provider {
  display: flex;
}
.info-icon {
  cursor: pointer;
  margin: -2px 0px 0 10px;
  color: $base-color;
}
.info-style {
  font-size: 14px;
}
.info-style-title {
  font-size: 22px;
}
.errorMsg {
  color: #f21e08;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  background: #f21e080f;
}

.login-error {
  font-size: 1.1rem;
}

.successMsg {
  color: $blue-color;
}

.loading {
  color: #777;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.user-details {
  color: $blue-color;
  padding: 5px 0;
  margin-bottom: 1rem;
}

.red {
  color: red
}
#input-block {
  display: flex;
}
.fiat-amount {
  margin-right: 20px
}
.button-store {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  padding-top: 20px;
}
#btn-go-back {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }
  #input-block {
    display: block;
  }
  .fiat-amount {
    margin-right: 0px
  }
  .dropdown {
    width: 120px;
  }
  .swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
    width: 90%;
  } 
  .center-container {
    min-width: inherit !important;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto !important;
  }
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .left-side-p {
    width: 50%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.pay-form {
  .dropdown-menu {
    max-height: 190px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .col-md-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .container, .container-md, .container-sm {
    max-width: 720px;
  }

}
.col-md-10 {
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
}
.css-1f43avz-a11yText-A11yText {
  z-index: 9999;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
.css-1s2u09g-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0!important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}
.css-1s2u09g-control, .form-control {
  border-radius: 0px !important;
}
.css-319lph-ValueContainer {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px 8px;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.css-1hb7zxy-IndicatorsContainer {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}
.css-14el2xx-placeholder {
  color: hsl(0, 0%, 50%);
  grid-area: 1/1/2/3;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}
.css-6j8wv5-Input {
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  visibility: visible;
  color: hsl(0, 0%, 20%);
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1/1/2/3;
  grid-template-columns: 0 min-content;
  box-sizing: border-box;
}
.css-1hb7zxy-IndicatorsContainer {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}
.css-1okebmr-indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
}
.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}
.css-tlfecz-indicatorContainer {
  color: hsl(0, 0%, 80%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  box-sizing: border-box;
}
.css-tj5bde-Svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.center-container {
  display: flex;
    width: auto;
    min-width: 575px;
    align-content: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.center-input {
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 350px;
}
.width-input {
  width: 100vh;
  padding-inline: 50px;
}
p, label {
  font-size: 16px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}
.input-group:not(.has-validation)>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group:not(.has-validation)>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}
.css-1s2u09g-control, .form-control {
  border-radius: 0px !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  // border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.dropdown-toggle {
  white-space: nowrap;
}
.btn-primary {
  color: #fff;
  background-color: #0037c1;
  border-color: #0037c1;
}
.btn {
  display: inline-block;
  font-weight: 400;
  // color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  // background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  // border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
[role=button] {
  cursor: pointer;
}
.mt-3, .my-3 {
  margin-top: 1rem!important;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 0px;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}


// spinner start
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #007bff;
  text-indent: -9999em;
  margin: 100px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

// spinner end

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: "0 0 0 0.2rem rgb(38 143 255 / 50%)";
}
.dropdown-menu.show {
  display: block;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bffad;
  border-color: #007bffad;
}
.col-md-8 {
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}